<div class="col s8 content">
  <ul class="collection">
    <li class="collection-item avatar details">
      <img src="https://loremflickr.com/320/240" alt="" class="circle">
      <a href="#">
        <span class="title">Le grand Veggie</span>
      </a>
      <p>
        Étoile(s) : 5
      </p>
    </li>

    <li class="collection-item avatar details">
      <img src="https://loremflickr.com/320/240" alt="" class="circle">
      <a href="#">
        <span class="title">Salade Summer Veggie</span>
      </a>
      <p>
        Étoile(s) : 5
      </p>
    </li>
  </ul>
</div>

<div class="col s4 sidebar">
  <div class="col s12 m12">
    <app-recipe-details></app-recipe-details>
  </div>
</div>
