<div class="container">
  <div class="row header-nav">
    <div class="col s12">
      <nav>
        <h1 class="header">
          <a class="brand-logo home-title">{{ title }}</a>
        </h1>
      </nav>
    </div>
    <!-- .header-nav -->
    <div class="row wrapper content">
      <div class="col s12">

        <!-- Appel du composant contenant les recettes (la liste de gauche + le détail du composant qui sera cliqué) -->
        <app-recipes></app-recipes>

      </div>
      <!-- .content -->
    </div>
  </div>
</div>
